<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand"  routerLink="todos"
      >Todo List</a
    >
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="todos">todos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="showTodos" routerLinkActive="active"
            >show Todos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
